<div class="card">
    <h5 class="card-header text-center">
        <strong>
            <i class="fa fa-users">
                </i> Договорные отношения
        </strong>
    </h5>

    <div class="card-body">

        <div class="row">
            <div class="col-md-10">

                <div class="card">
                    <div class="card-body"> 

                        <table class="table table-sm"
                            *ngIf="agreements?.length > 0; else noAgreements">
                    
                            <thead class="thead-default">
                                <tr>
                                    <th class="text-center">Контрагент</th>
                                    <th class="text-center">Номер</th>
                                    <th class="text-center">Дата</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                    
                            <tr *ngFor="let agreement of agreements">
                                <td class="text-center">
                                    <a class="card-link"
                                        [routerLink]="['/clients', agreement.clientId, 'agreements']">
                                        {{agreement.clientAlias}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{agreement.number}}
                                </td>
                                <td class="text-center">
                                    {{agreement.dateStart | date: 'dd.MM.y'}}
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-info btn-sm"
                                        [routerLink]="['/agreements', agreement?.id]">
                                        <i class="fa fa-arrow-circle-o-right"></i> Подробнее
                                    </a>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
        
                <ng-template #noAgreements>
                    <div class="alert alert-light" role="alert">
                        <h6 class="lead text-center">
                            <b>Нет ни одного договора в системе...</b>
                        </h6>
                    </div>
                </ng-template>

            </div>

            <div class="col-md-2">
                <app-sidebar 
                    [url] = "['/agreements/add']" 
                    [title] = "['Добавить']">
                </app-sidebar>
            </div>

        </div>

    </div>

</div>

