<div class="card">
    <h5 class="card-header text-center">
        <strong>
            <i class="fa fa-users"></i> Сотрудники
        </strong>
    </h5>
    <div class="card-body">

        <div class="row">
            <div class="col-md-10">
                <table *ngIf="employees?.length > 0; else noEmployees" 
                    class="table table-sm">
                
                    <thead class="thead-default">
                        <tr>
                        
                        <th class="text-center">ФИО</th>
                        <th class="text-center">ИНН</th>
                        <th class="text-center"></th>
                        </tr>
                    </thead>
                
                    <tr *ngFor="let employee of employees">
                        
                        <td class="text-center">
                            {{employee?.surname}} {{employee?.firstname}} {{employee?.lastname}}
                        </td>
                        <td class="text-center">
                            {{employee?.inn}}
                        </td>
                        <td class="text-right">
                            <a class="btn btn-info btn-sm"
                            [routerLink]="['/employees', employee?.id]">
                                <i class="fa fa-arrow-circle-o-right"></i> Подробнее
                            </a>
                        </td>
                    </tr>
                        
                </table>
            
                <ng-template #noEmployees>
                <hr>
                <h5 class="text-center">
                    Отсутствуют сотрудники в системе...
                </h5>
                </ng-template>

            </div>
            <div class="col-md-2">
                <app-sidebar [url] = "['/add-employee']" [title] = "['Добавить']"></app-sidebar>
            </div>
        </div>
    </div>
</div>
