<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(77, 93, 105);">
  <a class="navbar-brand" routerLink="/">CRMApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">
            <i class="fa fa-home"></i> Главная
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-list"></i> Справочники
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/vacations']">Отпуски</a>
            <a class="dropdown-item" href="#">[Empty]</a> 
            <a class="dropdown-item" href="#">[Empty]</a>
            <a class="dropdown-item" href="#">[Empty]</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/clients">
            <i class="fa fa-users"></i> Клиенты
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/employees">
            Сотрудники
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">
            <i class="fa fa-info-circle"></i> Инфо
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">
              <i class="fa fa-sign-in"></i> Войти
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">/</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/register">
              <i class="fa fa-user-plus"></i> Регистрация
            </a>
          </li>
        </ul>
    </div>
</nav>
<p class="p4">


