.navbar-collapsed {
    /* position:fixed; */
    left:300px;
    right:5px;
    top:55px;
    width:auto; 
    /* z-index:101; */
    /* margin-top:55px; */
}

.navbar-collapsed-fixed {
    position:fixed;
    left:300px;
    right:5px;
    top:0;
    width:auto;
    z-index:101;
}

.navbar-expanded {
    /* position:fixed; */
    left:5px;
    right:5px;
    top:55px;
    width:auto;
    /* z-index:101; */
}

.navbar-expanded-fixed {
    position:fixed;
    left:5px;
    right:5px;
    top:0;
    width:auto;
    z-index:101;
}

