<div class="text-center"> 
    <h4>{{title}}</h4>
</div>

<p-card>
    <p-table #dt [columns]="columns" [responsive]="responsive" 
        [value]="datasource" [reorderableColumns]="reorderableColumns" 
        [rows]="rows" [rowHover]="rowHover" [paginator]="paginator" 
        [loading]="loading"
        *ngIf="datasource?.length>0&&loading===false; else loadingStatus" >
        <ng-template pTemplate="caption">
            <div style="float: left"> 
                <button pButton type="button" label="Добавить" style="margin-top:3px" 
                    [routerLink]="['add']" icon="fa-plus">
                </button>
            </div>
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Фильтр" style="width:auto" 
                    (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let column of columns" style="text-align:center" 
                    [pSortableColumn]="column.field" pReorderableColumn>
                    {{column.header}}
                    <p-sortIcon [field]="column.field"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datasource let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let column of columns" style="text-align:center"
                    (click)="goToEntry(datasource?.url)">
                    <span class="ui-column-title">{{column.header}}</span>
                    {{rowData[column.field]}}
                </td>
                <td style="text-align:center">
                    <button pButton type="button" class="ui-button-info" 
                        icon="fa-arrow-circle-o-right" label="Подробнее" 
                        (click)="goToEntry(datasource?.url)">
                    </button>
                    <p-tieredMenu #menu [model]="menuModel" [popup]="true" 
                        appendTo="body">
                    </p-tieredMenu>
                    <button *ngIf="menuModel?.length > 0"
                        #btn pButton type="button" icon="fa-list" class="ui-button-info" 
                        (click)="menu.toggle($event)" (mousedown)="initMenu(datasource?.id)">
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Кол-во записей: {{datasource?.length}}
        </ng-template>
    </p-table>
</p-card>

<ng-template #loadingStatus>
    <app-loading-status></app-loading-status>
</ng-template> 