<div class="card">
  <h5 class="card-header text-center">
    <div class="row">
      <div class="col-md-2">
        <app-sidebar 
          [url] = "['/documents/add']" 
          [title] = "['Добавить']">
        </app-sidebar>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-filter"></i> Фильтр
        </a>
      </div>
      <div class="col-md">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span> 
          <input class="form-control" placeholder="Поиск" type="search" name="search" [(ngModel)]="filter">
        </div>
      </div>
    </div>



  </h5>

  <div class="card-body">

      <form (ngSubmit)="onSubmit()">
        <div class="collapse" id="collapseExample">
         
          <div class="card card-body">

            <div class="row">

              <div class="col-md-3 input-group-sm">
                <input class="form-control" placeholder="ДОГОВОР" type="text" name="agreementSearch">
              </div>

              <div class="col-md-3 input-group-sm">
                <select class="form-control" name="docTypeSearch">
                  <option [ngValue]="undefined" disabled>ТИП ДОКУМЕНТА</option>
                  <option *ngFor="let docType of docTypes" [ngValue]="docType">
                      {{docType.title}}
                  </option>
                </select>
              </div>
              
              <div class="col-md-2 input-group-sm">
                <input class="form-control" placeholder="№ ДОКУМЕНТА" type="text" name="numberSearch">
              </div>
              
              <div class="col-md-2 input-group-sm">
                <input class="form-control" placeholder="СУММА" type="text" name="sumSearch">
              </div>

              <div class="col-md-2 input-group-sm">
                <select class="form-control" name="docStatusSearch">
                  <option [ngValue]="undefined" disabled>СТАТУС</option>
                  <option *ngFor="let docStatus of docStatuses" [ngValue]="docStatus">
                      {{docStatus.status}}
                  </option>
                </select>
              </div>
              
            </div>
            <p>
            <div class="row">
              <div class="col-md-2 input-group">
                <button 
                  type="submit" 
                  class="btn btn-success btn-sm btn-block">
                    <i class="fa fa-check-square-o"></i> Отобрать
                </button>
              </div>
              <div class="col-md-2 input-group">
                <a class="btn btn-danger btn-sm btn-block"
                  [routerLink]="['../']">
                  <i class="fa fa-arrow-circle-o-left">
                    </i> Сброс
                </a>
              </div>
            </div>

          </div>

        </div>
      </form>

    <p-dataTable [value]="documents" expandableRows="true"
      [sortField]="sortF" [sortOrder]="sortO" (onSort)="changeSort($event)">
      <p-column expander="true" styleClass="col-icon"></p-column>
      <p-column field="agreementNumber" header="Договор" [sortable]="true"></p-column>
      <p-column field="docType.title" header="Тип документа" [sortable]="true"></p-column>
      <p-column field="number" header="№" [sortable]="true"></p-column>
      <p-column field="amount" header="Сумма" [sortable]="true" >
        <ng-template let-row="rowData" pTemplate="body" style="text-align:center">
          {{row.amount | number: '1.2-2'}}
        </ng-template>  
      </p-column>
      <p-column field="dated" header="Дата" [sortable]="true">
        <ng-template let-row="rowData" pTemplate="body">
          {{row.dated | date: 'dd.MM.y'}}
        </ng-template> 
      </p-column>
      <p-column field="paymentDate" header="Дата оплаты" [sortable]="true">
        <ng-template let-row="rowData" pTemplate="body">
          {{row.paymentDate | date: 'dd.MM.y'}}
        </ng-template> 
      </p-column>
      <p-column field="status.status" header="Статус" [sortable]="true"></p-column>
      <p-column field="" header="" [sortable]="false">
        <ng-template let-car="rowData" pTemplate="body">
          <button type="button" pButton [routerLink]="['/clients']" icon="fa-arrow-circle-o-right"></button>
        </ng-template>
      </p-column>
      <ng-template let-row pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3" style="text-align:center">
                    <i class="fa fa-search" (click)="showCar(car)" style="cursor:pointer;float:left;margin-top:40px"></i>
                    <img src="">
                </div>
                <div class="ui-grid-col-9">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label">Договор </div>
                            <div class="ui-grid-col-10">
                              <button type="button" 
                                class="btn btn-link btn-sm" 
                                [routerLink]="['/agreements', row.agreementId, 'documents']">
                                {{row.agreementNumber}}
                              </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
      <p-footer>
        <button type="button" label="Сортировка по дате" (click)="changeSort($event)" pButton></button>
      </p-footer>
    </p-dataTable>

    

    

  </div>

</div>
