<P>

<div class="row">

  <div class="col-md-10">

    <div class="card">
      <div class="card-body"> 

        <table class="table table-sm"
          *ngIf="directors?.length > 0; else noDirectors">

          <thead class="thead-default">
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">ФИО</th>
              <th class="text-center">Должность</th>
              <th class="text-center">Актуален с</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          
          <tr *ngFor="let director of directors">
            
            <td class="text-center" >{{director.id}}</td>
            <td class="text-center" >{{director.shortName}}</td>
            <td class="text-center" >{{director.post.title}}</td>
            <td class="text-center" >{{director.dateStart | date: 'dd.MM.y'}}</td>
            <td>
              <div class="d-flex justify-content-end">
                <div class="btn-toolbar">
                  <div class="btn-group mr-2">
                    <a class="btn btn-success btn-sm" 
                      [routerLink]="[director?.id, 'edit']">
                      <i class="fa fa-edit"></i> Изменить
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>

        <ng-template #noDirectors>
          <div class="alert alert-light" role="alert">
            <h6 class="lead text-center">
              <b>Нет ни одного руководителя в системе ...</b>
            </h6>
          </div>
        </ng-template>

      </div>
    </div>

  </div>

  <div class="col-md-2">
    <app-sidebar [url] = "['add']" title = "Добавить"></app-sidebar>
  </div>
  
</div>