<p>
  
<form (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="col-md-10">

      <div class="card">
        <div class="card-body"> 

          <div class="form-group row">
            <label 
              for="fullName"
              class="col-md-3 col-form-label">
              <strong>Фамилия Имя Отчество</strong>
            </label> 
            <div class="col-md">
              <input 
                type="text" 
                class="form-control"
                placeholder="напр., Иванов Иван Иванович"
                [(ngModel)]="director.fullName" 
                name="fullName" 
                #directorFullName="ngModel" 
                minlength="2" 
                required>
            </div>
          </div>

          <div class="form-group row">
            <label 
              for="shortName"
              class="col-md-3 col-form-label">
              <strong>Фамилия и Инициалы</strong>
            </label> 
            <div class="col-md">
              <input 
                type="text" 
                class="form-control"
                placeholder="напр., Иванов И.И."
                [(ngModel)]="director.shortName" 
                name="shortName" 
                #directorShortName="ngModel" 
                minlength="2" 
                required>
            </div>
          </div>

          <div class="form-group row">
            <label 
              for="post"
              class="col-md-3 col-form-label">
              <strong>Должность</strong>
            </label> 
            <div class="col-md-5">
              <input 
                type="text" 
                class="form-control"
                placeholder="напр., Генеральный директор"
                [(ngModel)]="post.title" 
                name="title" 
                #postTitle="ngModel" 
                minlength="2" 
                required>
            </div>
          </div>

          <div class="form-group row">
            <label 
              for="dateStart"
              class="col-md-3 col-form-label">
              <strong>Действует с</strong>
            </label>
            <div class="col-md-3">
              <input 
                type="text" 
                class="form-control"
                [(ngModel)]="director.dateStart" 
                name="dateStart"
                #directorDateStart="ngModel" 
                minlength="2" 
                required>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-2">
      <button 
        type="submit" 
        class="btn btn-success btn-block">
        <i class="fa fa-check-square-o"></i> Записать
      </button>
      <a class="btn btn-danger btn-block"
        [routerLink]="['../']">
        <i class="fa fa-arrow-circle-o-left">
          </i> Отменить
      </a>
    </div>

  </div>

</form>

  

