<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs nav-fill" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#main" role="tab">
      <i class="fa fa-address-card-o"></i> <strong>Основные данные</strong></a>
    </li>
    <li class="nav-item"><a class="nav-link {{disabled}}" data-toggle="tab" href="#address" role="tab">
      <i class="fa fa-building-o"></i> <strong>Адрес</strong></a>
    </li>
    <li class="nav-item"><a class="nav-link {{disabled}}" data-toggle="tab" href="#account" role="tab">
      <i class="fa fa-bank"></i> <strong>Банковские реквизиты</strong></a>
    </li>
    <li class="nav-item"><a class="nav-link {{disabled}}" data-toggle="tab" href="#vacation-sick" role="tab">
      <i class="fa fa-user-o"></i> <strong>Отпуск / Больничные листы</strong></a>
    </li>
    <li class="nav-item"><a class="nav-link {{disabled}}" data-toggle="tab" href="#document" role="tab">
      <i class="fa fa-file-text-o"></i> <strong>Документооборот</strong></a>
    </li>
  </ul>
</div>
