<p>
    
<form (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="col-md-10">

      <div class="card">
        <div class="card-body"> 

          <div class="form-group row">
            <label 
              for="presentation"
              class="col-md-3 col-form-label">
              <strong>Банк. счет</strong>
            </label> 
            <div class="col-md">
              <input 
                type="text" 
                class="form-control"
                [(ngModel)]="account.presentation" 
                name="presentation" 
                #accountPresentation="ngModel" 
                minlength="2" 
                required>
            </div>
          </div>

          <div class="form-group row">
            <label 
              for="dateStart"
              class="col-md-3 col-form-label">
              <strong>Действует с</strong>
            </label>
            <div class="col-md-3">
              <input 
                type="text" 
                class="form-control"
                [(ngModel)]="account.dateStart" 
                name="dateStart"
                #accountDateStart="ngModel" 
                minlength="2" 
                required>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-2">
      <a class="btn btn-info btn-block"
        [routerLink]="['../']">
        <i class="fa fa-arrow-circle-o-left">
          </i> Вернуться
      </a>
      <button 
        type="submit" 
        class="btn btn-success btn-block">
        <i class="fa fa-check-square-o"></i> Записать
      </button>
      <button type="button" class="btn btn-danger btn-block" (click)="delete()">
        <i class="fa fa-trash-o"></i> Удалить
      </button>
    </div>

  </div>

</form>
    
    

