<p>

<div class="row">
  
  <div class="col-md-10">

    <div class="card">
      <div class="card-body"> 

        <div class="form-group row">
          <label 
            for="title" 
            class="col-md-3 col-form-label">
            <strong>Полное название</strong>
          </label>
          <div class="col-md">
            <input 
              type="text" 
              readonly 
              class="form-control-plaintext"  
              name="title"
              value="{{client?.title}}">
          </div>
        </div>

        <div class="form-group row">
          <label 
            for="alias" 
            class="col-md-3 col-form-label">
            <strong>Псевдоним</strong>
          </label>
          <div class="col-md">
            <input 
              type="text" 
              class="form-control-plaintext"
              value="{{client?.alias}}" 
              name="alias"
              readonly>
          </div>
        </div>

        <div class="form-group row">
          <label 
            for="edrpou" 
            class="col-md-3 col-form-label">
            <strong>ЕДРПОУ</strong>
          </label>
          <div class="col-md">
            <input 
              type="text" 
              class="form-control-plaintext"
              value="{{client?.edrpou}}" 
              name="edrpou"
              readonly>
          </div>
        </div>
        
        <div class="form-group row">
          <label 
            for="inn" 
            class="col-md-3 col-form-label">
            <strong>ИНН</strong>
          </label>
          <div class="col-md">
            <input 
              type="text" 
              class="form-control-plaintext"
              value="{{client?.inn}}" 
              name="inn"
              readonly>
          </div>
        </div>
          
        <div class="form-group row">
          <label 
            for="vatCertificate" 
            class="col-md-3 col-form-label">
            <strong>№ свидетельства плат. НДС</strong>
          </label>
          <div class="col-md">
            <input 
              type="text" 
              class="form-control-plaintext"
              value="{{client?.vatCertificate}}" 
              name="vatCertificate"
              readonly>
          </div>
        </div>
  
      </div>
    </div>

  </div>

  <div class="col-md-2">

    <a class="btn btn-success btn-block" 
      [routerLink]="['/clients', client?.id, 'edit']">
      <i class="fa fa-edit"></i> Изменить
    </a>

    <button type="button" class="btn btn-danger btn-block" (click)="delete()">
        <i class="fa fa-trash-o"></i> Удалить
    </button>

  </div>

</div>
