<div class="ui-g-12">
  <form form (ngSubmit)="onSubmit()">
    <div class="ui-g-10">
      <p-card>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>Полное название: *</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" name="title" placeholder="Введите полное название"
                [(ngModel)]="client && client.title" >
            </div>
            <div class="ui-grid-col-3">
              
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>Псевдоним:</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" name="alias" placeholder="Required"
                [(ngModel)]="client&&client.alias" >
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>ЕДРПОУ: *</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" name="edrpou" placeholder="Введите ЕДРПОУ (не менее 8 цифр)"
                [(ngModel)]="client&&client.edrpou" >
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>ИНН:</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" name="inn" placeholder="Введите ИНН (необязательное поле)"
                [(ngModel)]="client&&client.inn" >
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>№ свидетельства плат. НДС:</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" name="vatCertificate" placeholder="Введите № свид. НДС (необязательное поле)"
                [(ngModel)]="client&&client.vatCertificate" >
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="ui-g-2">
      <button pButton type="button" label="Назад к клиенту" 
        class="ui-button-info btn-block" icon="fa-arrow-circle-o-left"
        [routerLink]="['../']">
      </button>
      <button pButton type="submit" label="Записать"
        class="ui-button-success btn-block" icon="fa-check-square-o">
      </button>
    </div>
  </form>
</div>