<div class="row">
  <div class="col-md-6">
    <a routerLink="/clients" href="#" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Вернуться к клиентам</a> 
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <h5 class="card-header">Новый клиент</h5>

  <form (ngSubmit)="onSubmit()">

    <div class="card-body">

        <div class="row">
          <div class="col-md-6">
            <label for="title"><strong>Полное название</strong></label> 
            <input [(ngModel)]="client.title" name="title"
              type="text" class="form-control"
              #clientTitle="ngModel" minlength="2" required>
            <div *ngIf="clientTitle.errors?.required && clientTitle.touched" class="alert alert-danger">
              Введите полное название!
            </div>
            <div *ngIf="clientTitle.errors?.minlength && clientTitle.touched" class="alert alert-danger">
              Полное название должно быть не менее 2 символов!
            </div>
          </div>
          <div class="col-md-6">
            <label for="alias"><strong>Псевдоним</strong></label>
            <input type="text" class="form-control"
              [(ngModel)]="client.alias" name="alias"
              #clientAlias="ngModel" minlength="2" required>
            <div *ngIf="clientAlias.errors?.required && clientAlias.touched" class="alert alert-danger">
              Введите псевдоним!
            </div>
            <div *ngIf="clientAlias.errors?.minlength && clientAlias.touched" class="alert alert-danger">
              Псевдоним должен содержать не менее 2 символов!
            </div>
          </div>
        </div>
        <p>
        <div class="row">
          <div class="col-md-4">
            <label for="edrpou"><strong>ЕДРПОУ</strong></label>
            <input type="text" class="form-control" 
              [(ngModel)]="client.edrpou" name="edrpou" 
              #clientEdrpou="ngModel" minlength="7" required>
              <div *ngIf="clientEdrpou.errors?.required && clientEdrpou.touched" class="alert alert-danger">
                Введите ЕДРПОУ!
              </div>
              <div *ngIf="clientEdrpou.errors?.minlength && clientEdrpou.touched" class="alert alert-danger">
                ЕДРПОУ должно содержать не менее 7 символов!
              </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inn"><strong>ИНН</strong></label>
            <input type="text" class="form-control" 
            [(ngModel)]="client.inn" name="inn">
          </div>
          <div class="col-md-4">
            <label for="vatCertificate"><strong>№ свидетельства НДС</strong></label>
            <input type="text" class="form-control" 
            [(ngModel)]="client.vatCertificate"  name="vatCertificate">
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Записать</button>
    </div>
  </form>

</div>
  

