<p-table #dt [columns]="columns" [responsive]="true"
    [value]="clients" [reorderableColumns]="true" 
    [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <div style="text-align: right">     
            <p-button icon="fa fa-plus-circle" style="float:left" 
                label="Добавить" [routerLink]="['/clients/add']">
            </p-button>
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Фильтр" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let column of columns" class="text-center" 
                [pSortableColumn]="column.field" pReorderableColumn>
                {{column.header}}
                <p-sortIcon [field]="column.field"></p-sortIcon>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let column of columns" class="text-center">
                <span class="ui-column-title">{{column.header}}</span>
                {{rowData[column.field]}}
            </td>
            <td class="text-center">
                <button pButton type="button" class="ui-button-info" 
                    icon="fa-arrow-circle-o-right" label="Подробнее" 
                    [routerLink]="['/clients', client?.id]">
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        Кол-во записей: {{clients?.length}} шт.
    </ng-template>
</p-table>