<p-table [columns]="columns" [responsive]="true"
    [value]="clients" [reorderableColumns]="true" 
    [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                    <span style="font-size:18px;float:left">
                        <b>Клиенты</b>
                    </span>
                <p-button icon="fa fa-plus-circle" style="float:right" 
                    label="Добавить" [routerLink]="['/clients/add']">
                </p-button>
            </div>
        </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let column of columns" class="text-center" 
                [pSortableColumn]="column.field" pReorderableColumn>
                {{column.header}}
                <p-sortIcon [field]="column.field"></p-sortIcon>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let column of columns" class="text-center">
                <span class="ui-column-title">{{column.header}}</span>
                {{rowData[column.field]}}
            </td>
            <td class="text-center">
                <button pButton type="button" class="ui-button-info" 
                    icon="fa-arrow-circle-o-right" label="Подробнее" 
                    [routerLink]="['/clients', client?.id]">
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        Кол-во записей: {{clients?.length}} шт.
    </ng-template>
</p-table>