<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="display:inline-block;margin-top:6px">
                <h4><b>Отпуски</b></h4>
            </span>  
            <button pButton type="button" label="Добавить" style="margin-top:6px;float:right" 
                [routerLink]="['add']" icon="fa-plus">
            </button>
        </div>
    </p-header>
    <p-table #dt [columns]="columns" [responsive]="responsive" 
        [value]="vacations" [reorderableColumns]="true" 
        [rows]="0" [rowHover]="true" [paginator]="false" 
        *ngIf="vacations?.length > 0; else loadingStatus" >
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Фильтр" style="width:auto" 
                    (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let column of columns" style="text-align:center" 
                    [pSortableColumn]="column.field" pReorderableColumn>
                    {{column.header}}
                    <p-sortIcon [field]="column.field"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vacation let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let column of columns" style="text-align:center"
                    (click)="goToEntry(vacation?.url)">
                    {{rowData[column.field]}}
                </td>
                <td style="text-align:center">
                    <button pButton type="button" class="ui-button-info" 
                        icon="fa-arrow-circle-o-right" label="Подробнее" 
                        (click)="goToEntry(vacation?.url)">
                    </button>
                    <p-tieredMenu #menu [model]="items" [popup]="true" 
                        appendTo="body">
                    </p-tieredMenu>
                    <button #btn pButton type="button" icon="fa-list" class="ui-button-info" 
                        (click)="menu.toggle($event)" (mousedown)="initMenu(vacation?.employeeId)">
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Кол-во записей: {{vacations?.length}}
        </ng-template>
    </p-table>
</p-panel>

<ng-template #loadingStatus>
    <app-loading-status></app-loading-status>
</ng-template> 