<ul class="nav nav-tabs nav-fill">
    
    <li class="nav-item">
        <a class="nav-link"
            routerLinkActive="active" 
            [routerLink]="['/employees', employee?.id, 'main']">
            <i class="fa fa-address-card-o">
                </i> <strong>Основные данные</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
            routerLinkActive="active" 
            [routerLink]="['/employees', employee?.id, 'address']">
            <i class="fa fa-building-o">
                </i> <strong>Адрес</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/employees', employee?.id, 'account']">
            <i class="fa fa-bank">
                </i> <strong>Банковские реквизиты</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" 
            routerLinkActive="active"
            [routerLink]="['/employees', employee?.id, '/vacation-sick']">
            <i class="fa fa-user-o">
                </i> <strong>Отпуск / Больничные листы</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/employees', employee?.id, '/document']">
            <i class="fa fa-file-text-o">
                </i> <strong>Документооборот</strong>
        </a>
    </li>

</ul>