<p>

<div class="row">
  <div class="col-md-10">

    <div class="card">
      <div class="card-body"> 

        <table *ngIf="addresses?.length > 0; else noAddresses"
          class="table table-sm">

          <thead class="thead-default">
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Адрес</th>
              <th class="text-center">Действует с</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          
          <tr *ngFor="let address of addresses">
            
            <td class="text-center">{{address.id}}</td>
            <td class="text-center">{{address.presentation}}</td>
            <td class="text-center">{{address.dateStart | date: 'dd.MM.y'}}</td>
            <td>
              <div class="d-flex justify-content-end">
                <div class="btn-toolbar">
                  <div class="btn-group mr-2">
                    <a class="btn btn-success btn-sm" 
                      [routerLink]="[address?.id, 'edit']">
                      <i class="fa fa-edit"></i> Изменить
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <ng-template #noAddresses>
        <div class="alert alert-light" role="alert">
          <h6 class="lead text-center">
            <b>Нет ни одного адреса в системе ...</b>
          </h6>
        </div>
    </ng-template>
    
  </div>
  <div class="col-md-2">
    <a 
      class="btn btn-primary btn-block"
      [routerLink]="['add']">
      <i class="fa fa-plus">
        </i> Новый адрес
    </a>
  </div>
</div>

